## IDE files
##--------------------
.idea

## Project files
##--------------------
/typo3_src
/fileadmin/
/uploads/
/typo3temp/
/typo3conf/ext/*
/typo3conf/deprecation*
/typo3conf/ENABLE_INSTALL_TOOL
/typo3conf/AdditionalConfiguration.php
/typo3conf/l10n/
/typo3conf/ext/we_custom/Resources/Private/Materials/.sass-cache/

!/typo3conf/ext/we_custom/
/typo3conf/ext/we_custom/Resources/Private/Materials/node_modules/