<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>indexed_search template</title>
</head>

<body>

<h1>Indexed Search: Default template</h1>


<h2>TEMPLATE_SEARCH_FORM</h2>
<p><em>Template for displaying the search form.</em></p>

<!-- ###SEARCH_FORM### begin -->
<div class="tx-indexedsearch-searchbox">
<form action="###ACTION_URL###" method="post" id="tx_indexedsearch" class="form-inline" role="form">
	<input type="hidden" name="tx_indexedsearch[_sections]" value="0" />
	<input type="hidden" name="tx_indexedsearch[_freeIndexUid]" id="tx_indexedsearch_freeIndexUid" value="_" />
	<input type="hidden" name="tx_indexedsearch[pointer]" id="tx_indexedsearch_pointer" value="0" />
	<!-- ###HIDDEN_FIELDS### begin -->
	<input type="hidden" name="###HIDDEN_FIELDNAME###" value="###HIDDEN_VALUE###" />
	<!-- ###HIDDEN_FIELDS### end -->
	
	<div class="form-group">
		<label class="sr-only" for="search_box">###FORM_SEARCHFOR###</label>
		<input id="search_box" type="text" name="tx_indexedsearch[sword]" value="###SWORD_VALUE###" class="form-control" />
	</div>
	<input type="submit" name="tx_indexedsearch[submit_button]" value="###FORM_SUBMIT###" class="submit btn btn-primary" />

	<!-- ###ADDITONAL_KEYWORD### begin -->
	<div class="control-group">
		<div class="controls">
			<input type="hidden" name="tx_indexedsearch[sword_prev]" value="###SWORD_PREV_VALUE###" />
			<input type="checkbox" name="tx_indexedsearch[sword_prev_include]" id="tx_indexedsearch_sword_prev_include" value="1" ###SWORD_PREV_INCLUDE_CHECKED### />
			<label for="tx_indexedsearch_sword_prev_include">###ADD_TO_CURRENT_SEARCH###</label>
		</div>
	</div>
	<!-- ###ADDITONAL_KEYWORD### end -->
	
	<!-- ###SEARCH_FORM_EXTENDED### begin -->
	<!-- ###SELECT_SEARCH_FOR### begin -->
	<div class="control-group ">
		<label class="control-label">###FORM_MATCH###</label>
		<div class="controls">
			<!-- ###SELECT_SEARCH_TYPE### begin -->
			<select name="tx_indexedsearch[type]" class="tx-indexedsearch-selectbox-type type">
				###SELECTBOX_TYPE_VALUES###
			</select>
			<!-- ###SELECT_SEARCH_TYPE### end -->
			
			<!-- ###SELECT_SEARCH_DEFOP### begin -->
			<select name="tx_indexedsearch[defOp]" class="tx-indexedsearch-selectbox-defop defop">
				###SELECTBOX_DEFOP_VALUES###
			</select>
			<!-- ###SELECT_SEARCH_DEFOP### end -->
		</div>
	</div>
	<!-- ###SELECT_SEARCH_FOR### end -->
	
	<!-- ###SELECT_SEARCH_IN### begin -->
	<div class="control-group ">
		<label class="control-label">###FORM_SEARCHIN###</label>
		<div class="controls">
			<!-- ###SELECT_SEARCH_MEDIA### begin -->
			<select name="tx_indexedsearch[media]" class="tx-indexedsearch-selectbox-media media">
				###SELECTBOX_MEDIA_VALUES###
			</select>
			<!-- ###SELECT_SEARCH_MEDIA### end -->
			
			<!-- ###SELECT_SEARCH_LANG### begin -->
			<select name="tx_indexedsearch[lang]" class="tx-indexedsearch-selectbox-lang lang">
				###SELECTBOX_LANG_VALUES###
			</select>
			<!-- ###SELECT_SEARCH_LANG### end -->
		</div>
	</div>
	<!-- ###SELECT_SEARCH_IN### end -->
	
	<!-- ###SELECT_SECTION### begin -->
	<div class="control-group ">
		<label class="control-label">###FORM_FROMSECTION###</label>
		<div class="controls">
			<select name="tx_indexedsearch[sections]" class="tx-indexedsearch-selectbox-sections sections">
				###SELECTBOX_SECTIONS_VALUES###
			</select>
		</div>
	</div>
	<!-- ###SELECT_SECTION### end -->
	
	<!-- ###SELECT_FREEINDEXUID### begin -->
	<div class="control-group ">
		<label class="control-label">###FORM_FREEINDEXUID###</label>
		<div class="controls">
			<select name="tx_indexedsearch[freeIndexUid]" class="tx-indexedsearch-selectbox-freeIndexUid freeIndexUid">
				###SELECTBOX_FREEINDEXUIDS_VALUES###
			</select>
		</div>
	</div>
	<!-- ###SELECT_FREEINDEXUID### end -->
	
	<!-- ###SELECT_ORDER### begin -->
	<div class="control-group ">
		<label class="control-label">###FORM_ORDERBY###</label>
		<div class="controls">
			<select name="tx_indexedsearch[order]" class="tx-indexedsearch-selectbox-order order">
				###SELECTBOX_ORDER_VALUES###
			</select>
			<select name="tx_indexedsearch[desc]" class="tx-indexedsearch-selectbox-desc desc">
				###SELECTBOX_DESC_VALUES###
			</select>
		</div>
	</div>
	<!-- ###SELECT_ORDER### end -->
	
	<!-- ###SELECT_RESULTS### begin -->
	<div class="control-group ">
		<label class="control-label">###FORM_ATATIME###</label>
		<div class="controls">
			<select name="tx_indexedsearch[results]" class="tx-indexedsearch-selectbox-results results">
				###SELECTBOX_RESULTS_VALUES###
			</select>
		</div>
	</div>
	<!-- ###SELECT_RESULTS### end -->
	
	<!-- ###SELECT_GROUP### begin -->
	<div class="control-group ">
		<label class="control-label">###FORM_STYLE###</label>
		<div class="controls">
			<select name="tx_indexedsearch[group]" class="tx-indexedsearch-selectbox-group group">
				###SELECTBOX_GROUP_VALUES###
			</select>&nbsp;&nbsp;
			<label class="checkbox">
				<!-- ###SELECT_EXTRESUME### begin -->
					<input type="hidden" name="tx_indexedsearch[extResume]" value="0" /><input type="checkbox" value="1" name="tx_indexedsearch[extResume]" id="tx_indexedsearch_extResume" ###EXT_RESUME_CHECKED### /> <label for="tx_indexedsearch_extResume">###FORM_EXTRESUME###</label>
				<!-- ###SELECT_EXTRESUME### end -->
			</label>
		</div>
	</div>
	<!-- ###SELECT_GROUP### end -->
	
	<!-- ###SEARCH_FORM_EXTENDED### end -->
	
	<div class="control-group ">
		<div class="controls">
			<p>###LINKTOOTHERMODE###</p>
		</div>
	</div>
</form>
</div>
<!-- ###SEARCH_FORM### end -->
<br /><br />




<h2>TEMPLATE_RULES</h2>
<p><em>Template for displaying the search rules.</em></p>

<!-- ###RULES### begin -->
	<div class="tx-indexedsearch-rules">
		<h2>###RULES_HEADER###</h2>
		<p>###RULES_TEXT###</p>
	</div>
<!-- ###RULES### end -->
<br /><br />




<h2>TEMPLATE_RESULT_OUTPUT</h2>
<p><em>Template for the search result list.</em></p>

<!-- ###RESULT_OUTPUT### begin -->
	<div class="tx-indexedsearch-res">
		<table cellpadding="0" cellspacing="0" border="0" summary="Result row">
			<!-- ###HEADER_ROW### begin -->
			<tr>
				<td class="tx-indexedsearch-result-number result-number" nowrap="nowrap">###RESULT_NUMBER###</td>
				<td class="tx-indexedsearch-title title" width="100%"><h3>###TITLE###</h3></td>
			</tr>
			<!-- ###HEADER_ROW### end -->

			<!-- ###ROW_LONG### begin -->
			<tr>
				<td>&nbsp;</td>
				<td class="tx-indexedsearch-descr descr" width="100%"><p>###DESCRIPTION###</p></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>###TEXT_ITEM_PATH### <span class="tx-indexedsearch-path path">###PATH###</span></td>
			</tr>
			<!-- ###ROW_LONG### end -->

			<!-- ###ROW_SHORT### begin -->
			<tr>
				<td>&nbsp;</td>
				<td class="tx-indexedsearch-descr descr" width="100%"><p>###DESCRIPTION###</p></td>
			</tr>
			<!-- ###ROW_SHORT### end -->

			<!-- ###ROW_SUB### begin -->
			<tr>
				<td>&nbsp;</td>
				<td class="tx-indexedsearch-list list" width="100%"><br />###TEXT_ROW_SUB###<br /><br /></td>
			</tr>
			<!-- ###ROW_SUB### end -->
		</table>
		<br />
	</div>
<!-- ###RESULT_OUTPUT### end -->
<br /><br />


</body>
</html>
